@font-face {
  font-family: 'Josefin Sans';
  src: url(../fonts/JosefinSans-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: 'Josefin Sans';
  src: url(../fonts/JosefinSans-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Aleo';
  src: url(../fonts/Aleo-Regular.ttf);
  font-weight: 400; }

body {
  max-width: 1770px; }

a {
  text-decoration: none;
  color: #FFFFFF; }

.btn-blue {
  margin-top: 46px;
  background-color: #5474FD;
  color: #FFFFFF;
  width: 228px;
  height: 63px;
  border: none;
  font-family: 'Aleo';
  font-weight: 400;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 1.2px; }

.main__landing-page {
  background-image: url(/assets/img/Landing-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 820px; }
  .main__landing-page .main__title-one {
    font-family: 'Josefin Sans';
    color: #FFFFFF;
    font-weight: 700;
    line-height: 26px;
    font-size: 48px;
    letter-spacing: 4.8px;
    text-align: center;
    margin-bottom: 11px;
    margin-top: 60px; }
  .main__landing-page .main__title-two {
    font-family: 'Josefin Sans';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 6.82px;
    text-align: center;
    margin-bottom: 48px; }
  .main__landing-page .main__searchbar {
    width: 650px;
    height: 63px; }
    .main__landing-page .main__searchbar .main__searchfield {
      width: 500px;
      height: 63px;
      text-align: center;
      font-family: 'Josefin Sans';
      color: #FFFFFF;
      font-weight: 400;
      color: #999;
      font-size: 14px;
      letter-spacing: 2.8px;
      border: none;
      padding-left: 60px; }
    .main__landing-page .main__searchbar .main__btn {
      width: 150px;
      height: 63px;
      background-color: #5474FD;
      border: 2px solid #FFFFFF;
      color: #FFFFFF;
      font-family: 'Aleo';
      font-weight: 400;
      color: #FFFFFF;
      font-size: 14px;
      text-align: center;
      line-height: 26px;
      letter-spacing: 1.4px;
      font-style: normal;
      cursor: pointer; }
      .main__landing-page .main__searchbar .main__btn .fa-magnifying-glass {
        font-size: 18px; }
  .main__landing-page .main__scroll {
    margin-top: 107px;
    font-family: 'Aleo';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px; }

.navbar {
  position: absolute;
  top: 737px;
  height: 83px;
  width: 100%;
  max-width: 1770px;
  background-color: #5474FD; }
  @media (max-width: 1200px) {
    .navbar {
      top: 0;
      position: fixed;
      z-index: 3; } }
  .navbar .navbar__content {
    width: 1138px; }
    .navbar .navbar__content label {
      font-family: 'Josefin Sans';
      color: #FFFFFF;
      font-weight: 700;
      line-height: 26px;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 2.4px; }
  .navbar .navbar__list {
    width: 555px;
    gap: 12px;
    font-family: 'Aleo';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px; }
  .navbar .check-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none; }
  .navbar #check {
    display: none; }
  @media (max-width: 1200px) {
    .navbar .check-toggle {
      display: block;
      margin-right: 50px; }
    .navbar .navbar__title {
      margin-left: 25px; }
    .navbar .navbar__list {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 83px;
      left: -100%;
      background: #333333;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      transition: all 0.4s; }
      .navbar .navbar__list li {
        margin-top: 30px; }
    .navbar .navbar__content #check:checked ~ ul {
      left: 0; } }

.second__section .second__why-choose-us {
  background-image: url(/assets/img/why-choose-us.png);
  height: 685px;
  width: 100%; }
  .second__section .second__why-choose-us .second__group-one .second__title {
    margin-bottom: 50px;
    font-family: 'Aleo';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 36px; }
  .second__section .second__why-choose-us .second__group-one .second__paragraph-one {
    max-width: 560px;
    font-family: 'Josefin Sans';
    color: #FFFFFF;
    font-weight: 400;
    color: #E8E8E8;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    margin-bottom: 20px; }
  .second__section .second__why-choose-us .second__group-one .second__paragraph-two {
    max-width: 560px;
    font-family: 'Josefin Sans';
    color: #FFFFFF;
    font-weight: 400;
    color: #E8E8E8;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px; }
  .second__section .second__why-choose-us .second__group-two {
    margin-left: 110px;
    margin-top: 112px;
    margin-bottom: 123px;
    gap: 10px; }
    .second__section .second__why-choose-us .second__group-two .group-two__boathouse {
      max-width: 350px;
      max-height: 220px; }
    .second__section .second__why-choose-us .second__group-two .group-two__cliff {
      max-width: 350px;
      max-height: 220px;
      margin-left: 85px; }

.second__section .second__how-it-works {
  background-color: #333333;
  height: 340px;
  width: 100%; }
  .second__section .second__how-it-works span {
    font-family: 'Aleo';
    font-weight: 400;
    color: #FFFFFF;
    color: #E8E8E8;
    font-size: 36px;
    line-height: 26px;
    text-align: center; }
  .second__section .second__how-it-works .arch {
    position: absolute;
    width: 100%;
    height: 99px;
    margin-bottom: 194px;
    z-index: 1; }
  .second__section .second__how-it-works .second__icon-container {
    width: 1000px; }
  .second__section .second__how-it-works .how-it-works__bg-icon {
    height: 99px;
    width: 99px;
    background: #333333;
    border-radius: 100%;
    margin-bottom: 38px;
    position: relative;
    z-index: 2; }
    .second__section .second__how-it-works .how-it-works__bg-icon .fa-solid, .second__section .second__how-it-works .how-it-works__bg-icon .fa-regular {
      font-size: 60px; }
    .second__section .second__how-it-works .how-it-works__bg-icon .fa-magnifying-glass {
      color: #5474FD; }
    .second__section .second__how-it-works .how-it-works__bg-icon .fa-circle-check {
      color: #FF6363; }
    .second__section .second__how-it-works .how-it-works__bg-icon .fa-thumbs-up {
      color: #00A2FF; }

.third__section .spain__card-content {
  margin: 49px 32px 50px; }

.third__section .group__one {
  background-image: url(/assets/img/Rectangle41445.png);
  height: 700px; }
  .third__section .group__one .group__one-scalable {
    width: 871px;
    height: 374px;
    margin-bottom: 99px; }
  .third__section .group__one .spain__card-one {
    width: 543px;
    height: 374px;
    background: rgba(36, 36, 36, 0.9);
    color: #E8E8E8; }
    .third__section .group__one .spain__card-one span {
      font-family: 'Josefin Sans';
      color: #FFFFFF;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 1.5px; }
    .third__section .group__one .spain__card-one h3 {
      margin-top: 23px;
      font-family: 'Josefin Sans';
      color: #FFFFFF;
      font-weight: 400;
      color: #FFFFFF;
      font-size: 20px; }
    .third__section .group__one .spain__card-one p {
      margin-top: 13px;
      font-family: 'Josefin Sans';
      color: #FFFFFF;
      font-weight: 400;
      color: #E8E8E8;
      font-size: 16px; }

.third__section .group__two {
  background-image: url(/assets/img/Rectangle41446.png);
  height: 700px; }
  .third__section .group__two .group__two-scalable {
    width: 1441px;
    height: 374px;
    margin-bottom: 99px; }
  .third__section .group__two .spain__card-two {
    width: 543px;
    height: 374px;
    background: rgba(36, 36, 36, 0.9);
    color: #E8E8E8; }
    .third__section .group__two .spain__card-two span {
      font-family: 'Josefin Sans';
      color: #FFFFFF;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 1.5px; }
    .third__section .group__two .spain__card-two h3 {
      margin-top: 23px;
      font-family: 'Josefin Sans';
      color: #FFFFFF;
      font-weight: 400;
      color: #FFFFFF;
      font-size: 20px; }
    .third__section .group__two .spain__card-two p {
      margin-top: 13px;
      font-family: 'Josefin Sans';
      color: #FFFFFF;
      font-weight: 400;
      color: #E8E8E8;
      font-size: 16px; }

.fourth__section {
  background-image: url(/assets/img/Rectangle41421.png);
  height: 731px; }
  .fourth__section h2 {
    margin-top: 128px;
    margin-bottom: 91px;
    font-family: 'Aleo';
    font-weight: 400;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 26px; }
  .fourth__section .container {
    margin-bottom: 198px; }
    .fourth__section .container .quote {
      width: 668px;
      height: 284px;
      background: #333333;
      color: #E8E8E8; }
      .fourth__section .container .quote h3 {
        margin-top: 49px;
        margin-left: 62px;
        font-family: 'Josefin Sans';
        color: #FFFFFF;
        font-weight: 400;
        font-size: 20px; }
      .fourth__section .container .quote .fa-quote-left {
        margin-right: 6px; }
      .fourth__section .container .quote p {
        margin-top: 8px;
        margin-left: 62px;
        margin-right: 25px;
        font-family: 'Josefin Sans';
        color: #FFFFFF;
        font-weight: 400;
        color: #E8E8E8;
        font-size: 16px;
        line-height: 26px; }
      .fourth__section .container .quote .fa-quote-left {
        color: #5474FD;
        font-size: 36px; }

footer {
  height: 271px;
  background-color: #333333;
  color: #FFFFFF; }
  footer h2 {
    margin-bottom: 8px;
    font-family: 'Josefin Sans';
    color: #FFFFFF;
    font-weight: 700;
    line-height: 26px;
    font-size: 24px;
    letter-spacing: 3.36px; }
  footer span {
    margin-bottom: 16px;
    font-family: 'Josefin Sans';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.6px; }
  footer .footer__socials {
    margin-bottom: 47px;
    gap: 25px;
    font-size: 16px; }
    footer .footer__socials .fa-linkedin-in {
      color: #5474FD; }

.list-none {
  list-style-type: none; }

.mx-12 {
  margin: 0 12px 0; }

.mr-12 {
  margin-right: 12px; }

.d-flex {
  display: flex; }

.flex-col {
  flex-direction: column; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.items-start {
  align-items: flex-start; }

.items-end {
  align-items: flex-end; }

.items-center {
  align-items: center; }
